.main {
  .topBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    .eachBox {
      width: 32%;
    }
  }
  .table {
    margin-top: 30px;
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      .usdText {
        width: '100%';
      }
    }
    .apyContainer {
      margin-left: 12px;
      margin-top: 18px;
      .apyText {
        font-family: Edu Monument Grotesk Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
      }
    }
  }
}