.main {
  width: 100%;
  .tabs {
    display: flex;
    flex-direction: row;
    .tab {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-family: Edu Monument Grotesk Semi-Mono;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      border-width: 1px;
      border-style: solid;
      border-bottom-width: 0px;
    }
    .activeTab {
      background-color: #0d0d0d;
      border-color: #1b1b1b;
      color: white;
      height: 52px;
      margin-top: 2px;
      margin-bottom: -2px;
    }
    .inActiveTab {
      background-color: #050505;
      border-color: #0b0b0b;
      color: #666666;
      margin-top: 2px;
    }
  }
  .tabContainer {
    padding: 45px 45px 104px 45px;
    background-color: #0d0d0d;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border: 1px solid #1b1b1b;
  }
}