:global(.rc-tooltip-inner) {
  background-color: transparent;
  border: 1px solid white;
  width: 90px;
  color: white;
  min-height: 20px;
  border-radius: 3px;
  padding-left: 15px;
  text-align: center;
}
:global(.rc-tooltip-placement-top .rc-tooltip-arrow) {
  border-top-color: #fff;
}