@import "styles";

body {
  margin: 0;
  font-family: 'MyFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Edu Monument Grotesk Mono';
  src: local('Edu Monument Grotesk Mono'), url('./fonts/EduMonumentGroteskSemi-Mono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Edu Monument Grotesk Semi-Mono';
  src: local('Edu Monument Grotesk Semi-Mono'), url('./fonts/EduMonumentGroteskSemi-Mono-Regular2.woff') format('woff');
}

//fonts
@font-face {
  font-family: Lambok;
  src: url("./fonts/Lombok.ttf");
}

@font-face {
  font-family: Comfortaa;
  src: url("./fonts/Comfortaa.ttf");
}

@font-face {
  font-family: Segoe UI;
  src: url("./fonts/SegoeUI.woff");
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("./fonts/Monument/edumonumentgroteskmono-regular-webfont.woff2") format("woff2"),
      url("./fonts/Monument/edumonumentgroteskmono-regular-webfont.woff") format("woff"),
      url("./fonts/Monument/edumonumentgroteskmono-regular-webfont.ttf") format("truetype"),
      url("./fonts/Monument/edumonumentgroteskmono-regular-webfont.svg#edu_monument_grotesk_monoRg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("./fonts/MonumentGrotesk-Regular.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Monument Grotesk";
  src: url("./fonts/monument-grotesk-regular.a2574db.ttf") format("ttf");
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #000000;
  // background: linear-gradient(125deg, #000000 0%, #242424 100%);
}

.loader-wrap {
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 5;
  height: 100vh;
  // filter: blur(5px);
  // background: #00000088;
  .loader {
      margin: auto;
      position: fixed;
      border-radius: 50%;
      top: calc(50% - 80px);
      left: 0;
      right: 0;
      transform: translateY(-50%);
      animation: myOrbit 2s linear infinite;
  }
}

@keyframes myOrbit {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.blured {
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 5;
  height: 100vh;
  // filter: blur(5px);
  background: #000000;
  opacity: 0.7;
}

.hidden {
  display: none;
}

// body::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
//     background-color: transparent;
// }

// body::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//     background-color: transparent;
// }

// body::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     background-color: #cdd477;
// }

.clear-fix {
  clear: both;
}

.hidden {
  display: none;
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

.Toastify__toast {
  border-radius: 6px;
  font-family: Comfortaa;
  font-weight: bold;
}

.Toastify__toast--success {
  color: #1a111d;
  background: #00ffc8;
}

.Toastify__toast--warning {
  background: #d2386c;
}

.Toastify__toast--info {
  background: #0072b5;
}

.grad-wrap {
  background: linear-gradient(90.11deg, #69c9ce 1.13%, #d5e061 98.54%);
  padding: 2px;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  font-family: Monument Grotesk;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  .grad {
      // padding-bottom: 2px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: #111111;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: all 0.35s;
      &:hover {
          background-color: transparent;
          color: #000000;
      }
  }
}

.dea-wrap {
  text-align: left;
  float: left;
  // margin-top: -53px;
  color: #ffffff;
  font-family: "Segoe UI";
  padding-left: 40px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 57px;
  display: flex;
  align-items: center;
  text-align: center;
  &:hover {
      filter: brightness(3);
      opacity: 0.8;
  }
  img {
      border-radius: 50%;
      padding: 2px;
      // border: 1px solid #ffffff;
      // background-color: #ffffff;
      width: 45px;
      height: 45px;
      margin-right: 20px;
  }
}

footer {
  height: 57px;
  margin-top: 80px;
  background: linear-gradient(238deg, #231827, #232323);
  box-sizing: border-box;
  .social {
      height: 100%;
      text-align: right;
      font-family: Comfortaa;
      list-style-type: none;
      font-size: 20px;
      line-height: 57px;

      li {
          display: inline-block;
          cursor: pointer;
          text-align: center;
          width: 120px;

          a {
              color: #ffffff;
              text-decoration: none;
              // padding: 10px 0;
              font-weight: 400;

              &:hover {
                  opacity: 0.75 !important;
              }
          }
      }
  }
}

@media screen and (max-width: 1150px) {
  footer {
      height: unset;
      text-align: center;
      .contract {
          height: 50px;
          margin: auto;
          display: flex;
          align-items: center;
          margin-top: 20px;
          .dea-wrap {
              img {
                  vertical-align: middle;
                  margin-right: 5px;
              }
              padding-left: 0;
              width: 50%;
              margin: auto;
              display: inline-block;
          }
      }
      .social {
          float: unset;
          margin: auto;
          margin-top: 20px;
          text-align: center;
          li {
              padding: 0 3px;
              display: inline-block;
          }
      }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
      margin: auto;
      // height: 100%;
      // min-width: 100%;
  }
  footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      width: 100%;
  }
}

@media screen and (max-width: 480px) {
  footer {
      height: unset;
      text-align: center;
      position: absolute;
      margin-top: 40px;
      bottom: 0;
      width: 100%;
      .contract {
          height: 50px;
          width: 100%;
          margin: auto;
          display: flex;
          // flex-direction: column;
          align-items: center;
          margin-top: 10px;
          .dea-wrap {
              img {
                  vertical-align: middle;
                  margin-right: 2px;
                  width: 40px;
                  height: 40px;
              }
              font-size: 13px;
              padding-left: 0;
              width: 100%;
              margin: auto;
              display: inline-block;
          }
      }
      .social {
          float: unset;
          margin: auto;
          margin-top: 10px;
          text-align: center;
          display: flex;
          justify-content: space-around;
          li {
              font-size: 13px;
              padding: 0 3px;
          }
      }
  }
}


// For Ant Notification
.ant-notification {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: fixed;
  z-index: 1010;
  margin-right: 24px;
}
.ant-notification-topLeft,
.ant-notification-bottomLeft {
  margin-right: 0;
  margin-left: 24px;
}
.ant-notification-topLeft .ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-bottomLeft .ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-topLeft .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-bottomLeft .ant-notification-fade-appear.ant-notification-fade-appear-active {
  -webkit-animation-name: NotificationLeftFadeIn;
          animation-name: NotificationLeftFadeIn;
}
.ant-notification-close-icon {
  font-size: 14px;
  cursor: pointer;
}
.ant-notification-hook-holder,
.ant-notification-notice {
  position: relative;
  width: 384px;
  max-width: calc(100vw - 24px * 2);
  margin-bottom: 16px;
  margin-left: auto;
  overflow: hidden;
  word-wrap: break-word;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.ant-notification-topLeft .ant-notification-hook-holder,
.ant-notification-topLeft .ant-notification-notice,
.ant-notification-bottomLeft .ant-notification-hook-holder,
.ant-notification-bottomLeft .ant-notification-notice {
  margin-right: auto;
  margin-left: 0;
}
.ant-notification-hook-holder > .ant-notification-notice {
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.ant-notification-notice {
  padding: 16px 24px;
  line-height: 1.5715;
}
.ant-notification-notice-message {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
.ant-notification-notice-message-single-line-auto-margin {
  display: block;
  width: calc(384px - 24px * 2 - 24px - 48px - 100%);
  max-width: 4px;
  background-color: transparent;
  pointer-events: none;
}
.ant-notification-notice-message-single-line-auto-margin::before {
  display: block;
  content: '';
}
.ant-notification-notice-description {
  font-size: 14px;
}
.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 24px;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 4px;
  margin-left: 48px;
  font-size: 16px;
}
.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-left: 48px;
  font-size: 14px;
}
.ant-notification-notice-icon {
  position: absolute;
  margin-left: 4px;
  font-size: 24px;
  line-height: 24px;
}
.anticon.ant-notification-notice-icon-success {
  color: #52c41a;
}
.anticon.ant-notification-notice-icon-info {
  color: #1890ff;
}
.anticon.ant-notification-notice-icon-warning {
  color: #faad14;
}
.anticon.ant-notification-notice-icon-error {
  color: #ff4d4f;
}
.ant-notification-notice-close {
  position: absolute;
  top: 16px;
  right: 22px;
  color: rgba(0, 0, 0, 0.45);
  outline: none;
}
.ant-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}
.ant-notification-notice-btn {
  float: right;
  margin-top: 16px;
}
.ant-notification .notification-fade-effect {
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.ant-notification-fade-enter,
.ant-notification-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.ant-notification-fade-leave {
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-fade-appear.ant-notification-fade-appear-active {
  -webkit-animation-name: NotificationFadeIn;
          animation-name: NotificationFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.ant-notification-fade-leave.ant-notification-fade-leave-active {
  -webkit-animation-name: NotificationFadeOut;
          animation-name: NotificationFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes NotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes NotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
@keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
.ant-notification-rtl {
  direction: rtl;
}
.ant-notification-rtl .ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 0;
  padding-left: 24px;
}
.ant-notification-rtl .ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-right: 48px;
  margin-left: 0;
}
.ant-notification-rtl .ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-right: 48px;
  margin-left: 0;
}
.ant-notification-rtl .ant-notification-notice-icon {
  margin-right: 4px;
  margin-left: 0;
}
.ant-notification-rtl .ant-notification-notice-close {
  right: auto;
  left: 22px;
}
.ant-notification-rtl .ant-notification-notice-btn {
  float: left;
}
